.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .header h2 {
    margin-top: 0;
  }
  
  .header button {
    margin-right: 10px;
  }
  
  .delivery-date {
    margin-top: 20px;
  }
  
  .recipient,.deliver-to {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .total {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: #1f4a20;
  }